<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="margin: 0" ng-controller="AddAppCtrl">			
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active"></li>
        </ol>
    </div>

   <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
                    <div class="panel-heading">Dobro dosli {{}}</div>
					<div class="panel-body">
						Sistem vam omogucava pracenje gresaka na aplikacijama koje ste registrovali.
                        <p>Ovde mozete dodati aplikaciju  </p>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
</div>

	